{
  //в файл добавляю конфигурации
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "ignorePatterns": ["node_modules", "dist", "build"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "plugins": ["react", "prettier", "import"],
  "rules": {
    "semi": "off", // запятые
    "no-console": "off", // консоль лог
    "no-plusplus": "off", //++
    "eol-last": "off", // пустая строка
    "max-len": "off", // символы
    "no-unused-vars": "off",
    "no-tabs": "off",
    "arrow-body-style": "off",
    "no-alert": "off",
    "no-undef": "off",
    "prefer-destructuring": "off",
    "indent": "off",
    "no-param-reassign": "off",
    "prettier/prettier": "error",
    "linebreak-style": [0, "unix"],
    "quotes": ["error", "single"],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0,
    "import/no-unresolved": [
      2,
      {
        "caseSensitive": false
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/order": [
      2,
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
